td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}

#toolbar{
  margin: 5px 0 5px 0;
}

.label-full{
  width: 100%;
}

.footer-back{
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 97%;
  padding: 4px;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 6px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tree {
  width: 100%;
  list-style-type: none;
}

.tree ul li{
  list-style-type: none;
}

.tree ul {
  list-style: none;
  display: none;
  margin: 4px auto;
  margin-left: 6px;
  border-left: 1px dashed #dfdfdf;
}

.tree li {
  padding: 4px 4px;
  cursor: pointer;
  vertical-align: middle;
  background: #fff;
}

.tree li:before {
  content: "\ea3d"; /* FontAwesome Unicode */
  font-family: Icomoon;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.tree li:first-child {
  border-radius: 3px 3px 0 0;
}

.tree li:last-child {
  border-radius: 0 0 3px 3px;
}

.tree .active li {
  background: #0000;
}

.tree label {
  cursor: pointer;
}

.tree input[type=checkbox] {
  margin: -2px 6px 0 0px;
}

.has > label {
  color: #000;
}

.tree .total {
  color: #e13300;
}

fieldset {
  border:1px solid #C6C5FE;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  padding:10px;
}
fieldset legend {
  padding: 0.2em 0.5em;
  border:1px solid #C6C5FE;
  color:#000000;
  font-size:90%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 0 0 2px #ddd;
}

//Jquery MultiSelect Style
.ui-multiselect { padding:8px 0 8px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { left:-9999px; position:absolute !important; top: auto !important; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px; }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0; }
.ui-multiselect-header a { text-decoration:none; }
.ui-multiselect-header a:hover { text-decoration:underline; }
.ui-multiselect-header span.ui-icon { float:left; }
.ui-multiselect-header .ui-multiselect-close { float:right; padding-right:0; text-align:right; }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; text-align: left; }
.ui-multiselect-checkboxes { overflow-y:auto; position:relative; }
.ui-multiselect-checkboxes label { border:1px solid transparent; cursor:default; display:block; padding:3px 1px; }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes label img { height: 30px; vertical-align: middle; padding-right: 3px;}
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; list-style: none; padding-right:3px; }
.ui-multiselect-checkboxes .ui-multiselect-optgroup { padding: 3px; }
.ui-multiselect-columns { display: inline-block; vertical-align: top; }
.ui-multiselect-checkboxes .ui-multiselect-optgroup a { border-bottom:1px solid; cursor: pointer; display:block; font-weight:bold; margin:1px 0; padding:3px; text-align:center; text-decoration:none; }

@media print{
  .ui-multiselect-menu {display: none;}
}

//Filter MultiSelect
.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }

/*!
 * jQuery ClassyEdit
 * http://www.class.pm/projects/jquery/classyedit
 *
 * Copyright 2012 - 2013, Class.PM www.class.pm
 * Written by Marius Stanciu - Sergiu <marius@picozu.net>
 * Licensed under the GPL Version 3 license.
 * Version 1.1.0
 *
 */

*:focus {
  outline: none;
}
.classyedit {
  border:1px #ddd solid;
  width:100%;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
}
.classyedit .toolbar {
  position:relative;
  z-index:10;
  height:41px;
  background-image:url('../images/toolbar.png');
  background-repeat:repeat-x;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
  overflow:hidden;
  display:block;
}
.classyedit .toolbar .button {
  width:36px;
  height:34px;
  float:left;
  background-image:url('../images/break.png');
  background-repeat:no-repeat;
  background-position:right 4px;
  cursor:pointer;
}
.classyedit .toolbar .button:hover,
.classyedit .toolbar .button.on {
  background-color:#E5E8EF;
  border:1px #C9D0DA solid;
  border-top:none;
  margin-left:-1px;
  width:35px;
}
.classyedit .toolbar .button.first:hover {
  border-left:none;
  margin-left:0px;
  -moz-border-top-left-radius:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius: 3px;
}
.classyedit .toolbar .button div,
.classyedit .toolbar .button a {
  background-repeat:no-repeat;
  background-position:center center;
  display:block;
  width:100%;
  height:34px;
}
.classyedit .toolbar .button [command='underline'] {
  background-image:url('../images/underline.png');
}
.classyedit .toolbar .button [command='italic'] {
  background-image:url('../images/italic.png');
}
.classyedit .toolbar .button [command='bold'] {
  background-image:url('../images/bold.png');
}
.classyedit .toolbar .button [command='insertUnorderedList'] {
  background-image:url('../images/bullet.png');
}
.classyedit .toolbar .button [command='html'] {
  background-image:url('../images/html.png');
}
.classyedit .toolbar .button [command='href'] {
  background-image:url('../images/href.png');
}
.classyedit .editor {
  position:relative;
  z-index:1;
  min-height:150px;
  padding:10px;
}
.classyedit .html_editor {
  width:95%;
  resize: none;
  padding:10px;
  border:0px;
  display:none;
  min-height:140px;
}

/**
PRINT
 */
.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #FFEAEA solid;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
#print {
  overflow: auto;
  height: 500px;
}
.printModal {
  font-family:sans-serif;
  display:flex;
  text-align:center;
  font-weight:300;
  font-size:30px;
  left:0;
  top:0;
  position:absolute;
  color: #0460B5;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.91);
}

/* === Print Modal Close Button === */
.printClose {
  position:absolute;
  right:10px;
  top:10px;
}

.printClose:before {
  content: "\00D7";
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  line-height: 1px;
  padding-top: 0.5em;
  display: block;
  font-size: 2em;
  text-indent: 1px;
  overflow: hidden;
  height: 1.25em;
  width: 1.25em;
  text-align: center;
  cursor: pointer;
}

/* === Print Modal Spinner */
.printSpinner {
  margin-top: 3px;
  margin-left: -40px;
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #0460B5;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}
.printSpinner::before, .printSpinner::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}

.printSpinner, .printSpinner::before, .printSpinner::after {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0460B5;
  animation-duration: 1.2s;
}
.printSpinner::before {
  transform: rotate(120deg);
}
.printSpinner::after {
  transform: rotate(240deg);
}

